* {
  margin: 0;
  padding: 0;
}

body {
  padding-top: 80px;
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 100px;
}

h1 {
  align-self: flex-start;
  font-size: 4rem;
  font-weight: bold;
  color: #2c3e50;
  text-align: left;
  margin-top: 50px;
}
